asgiref==3.7.2
Django==3.2.23
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
mysqlclient==2.2.0
protobuf==4.21.12
pytils==0.4.1
pytz==2023.3.post1
slugify==0.0.1
sqlparse==0.4.4
typing_extensions==4.8.0
Pillow==10.1.0
